$beige: #f4f1de;
$tomate: #e07a5f;
$gris: #3d405b;
$verde: #81b29a;
$amarilloMaiz: #f2cc8f;
$color-fondoCard: rgba(227, 227, 227, 0.76);

$color-bone: #f9f9f9;
$color-white: #fff;



$color-boton: #7ba2e4;
$texto_oscuro: rgb(87, 86, 86);